{% extends 'base.html.twig' %}

{% block body %}

<div class="container-fluid">

    <div class="row">

        <input type="text" class="form-control" placeholder="Text input">

    </div>

    <div class="row">


    </div>

</div>

{% endblock %}