{% extends 'base.html.twig' %}

{% block body %}

<div class="container-fluid">

    <h2>AirBn Blame</h2>

    <div class="row col-lg-5">

        <input type="text" class="form-control" placeholder="Text input">
        <input type="submit" class="btn btn-default" value="Submit">

    </div>

    <div class="row">
        <p> % ou nbr de commentaires positifs/neutres/negatifs</p>
    </div>

    <div class="row col-md-offset-1">
        <section class=" col-lg-5">
            <h5>Points Négatifs</h5>
            <ul>
                {% for comneg in comNeg%}
                    {% for com in comneg %}
                        <li>{{ com.0 }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </section>

        <section class="col-lg-5">
            <h5>Points Positifs</h5>
            <ul>
                <li> liste points positifs</li>
            </ul>
        </section>

    </div>

    <div class="row col-md-offset-5">

        <section>
            <h5>Moyenne</h5>
            <ul>
                <li>Propreté : 5</li>
                <li>Communication : 5</li>
                <li>Emplacement : 5</li>
                <li>Arrivée : 5</li>
                <li>Qualité - Prix : 5</li>
                <li>Precision : 5</li>
            </ul>
        </section>

    </div>

</div>

{% endblock %}