{% extends 'base.html.twig' %}

{% block body %}

<div class="container-fluid">

    <div class="row">

        <input type="text" class="form-control" placeholder="Text input">
        <input type="submit" class="btn btn-default" value="Submit">

    </div>

    <div class="row">
        <p> % ou nbr de commentaires positifs/neutres/negatifs</p>
    </div>

    <div class="row">
        <ul class="text-center">
            <li> liste points negatifs</li>
        </ul>

        <ul class="text-center">
            <li> liste points positifs</li>
        </ul>
    </div>

    <div class="row">
        <p>Moyenne</p>

        <ul>
            <li>Propreté :</li>
            <li>Communication :</li>
            <li>Emplacement :</li>
            <li>Arrivée :</li>
            <li>Qualité - Prix :</li>
            <li>Precision :</li>
        </ul>
    </div>

</div>

{% endblock %}